@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');

body{
    margin: 3%;
    padding:0;
    background-color: rgb(234, 228, 228);
}


h1 {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    color: #F14F1D;

}

.siteimage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -60px;
    animation: animation-titre 2s;
}

.intro {
    margin-top: 15%;
    font-family: "Roboto";
    text-align: right;
    margin-right: 50%;
    color: grey;
    text-align: justify;
    font-size: 25px;
    

}

h2{
    font-family: "Arial";
    color: #F14F1D;
    font-size: 70px;
    font-weight: bold;
}

.typedefeugauche p {
    font-family: "Roboto";
    font-size: 25px;
    color: grey;
    text-align: left;
    margin-left: 50%;
    display: inline-block;
    flex-wrap: wrap;
}

.typedefeugauche {
    margin-top: 10%;

}

.graphtypedefeu {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50%;
    size-adjust: 75%;
    margin-top: -10%;
    margin-bottom: 200px;
    
}

.surfacefeu p {
    font-family: "Roboto";
    font-size: 25px;
    color: grey;
    text-align: left;
    margin-right: 50%;
    display: inline-block;
    flex-wrap: wrap;
}

.conclusion p {
    font-family: "Roboto";
    font-size: 25px;
    color: grey;
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 20%;
    
}

footer {
    margin-top: 5%;
    text-align: right;
    font-family: "Arial";
    font-weight: bold;
    color: grey;

}

#chart2 {
    margin-left: 55%;
    margin-bottom: auto;
    margin-top: -60%;

}

#corse {
    width: 100%;
    height: auto;
    margin-left: 110%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -140%;
}

.texteintro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chart1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -50%;
    
}

@keyframes animation-titre {
    0%{
        transform: scale(200%, 200%);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}


.container {
    width: 100%; /* Largeur maximale */
    max-width: 1200px; /* Largeur maximale pour les écrans plus larges */
    margin: 0 auto; /* Centrer horizontalement */
    margin-bottom: auto;
  }
  
  /* Pour les éléments enfants */
  .child {
    width: 100%; /* Largeur maximale */
    padding: 0 15px; /* Espacement interne */
  }
  
  /* Media queries */
  @media only screen and (min-width: 1200px) {
    /* Pour les écrans plus larges que 768px */
    .container {
      display: flex; /* Afficher les éléments enfants en ligne */
    }
    .child {
      flex: 1; /* Répartir équitablement l'espace disponible */
    }
  }